.wrapper {
    margin: 32px;
    display: flex;
    align-items: center;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.content {
    margin-left: 30px;

    &__description {
        font-weight: 300;
    }
}